.image {
  width: 70%;
  height: 70%;
  background-image: url("../assets/homeimg.jpeg");
  background-size: 110%;
  z-index: 4;
  position: absolute;
  border-radius: 50%;
  opacity: 80%;
}

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.home {
  padding-top: 15vh;
}

@media (max-width: 600px) {
  .square {
    width: 80%;
  }
  .home {
    padding-top: 0;
  }
}